<%= form_for(@curso) do |f| %>
    <% if @curso.errors.any? %>
        <div class="alert alert-danger fill">
          <h4><%= pluralize(@curso.errors.count, "erro") %> impediu este curso de ser salvo.</h4>

          <ul>
            <% @curso.errors.full_messages.each do |message| %>
                <li><small><%= message %></small></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <hr>
    <div class="row">
      <div class="col col-xs-12 form-group">
        <%= f.label :nome %>
        <br>
        <%= f.text_field :nome, class: 'form-control' %>
      </div>
    </div>
    <hr>
    <div class="actions" style="margin-bottom: 50px">
      <%= f.submit 'Salvar', class: 'btn btn-primary pull-left' %>
      <%= link_to 'Voltar', cursos_path, class: 'btn btn-default pull-right' %>
    </div>
<% end %>