<h1>Listing ensalamentos</h1>

<table>
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Sala</th>
      <th>Periodo</th>
      <th>Alunos</th>
      <th>Final</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ensalamentos.each do |ensalamento| %>
      <tr>
        <td><%= ensalamento.disciplina %></td>
        <td><%= ensalamento.sala %></td>
        <td><%= ensalamento.periodo %></td>
        <td><%= ensalamento.alunos %></td>
        <td><%= ensalamento.final %></td>
        <td><%= link_to 'Show', ensalamento %></td>
        <td><%= link_to 'Edit', edit_ensalamento_path(ensalamento) %></td>
        <td><%= link_to 'Destroy', ensalamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ensalamento', new_ensalamento_path %>
