<h2><i class="fa fa-building-o"></i> &nbsp;Espaços</h2>
<hr>
<% if notice %>
    <div class="alert alert-success fill">
        <button type="button" class="close" data-dismiss="alert">
            ×
        </button>
        <%= notice %>
    </div>
<% end %>
<p>
    <%= link_to 'Adicionar Espaço', new_espaco_path, class: 'btn btn-primary' %>
</p>
<% if @espacos.any? %>
    <table class="table table-hover" style="margin-top: 10px">
        <thead>
        <tr>
            <th>Nome</th>
            <th class="text-center" width="70"><i class="fa fa-cogs"></i></th>
        </tr>
        </thead>

        <tbody>
        <% @espacos.each do |espaco| %>
            <tr>
                <td><%= espaco.nome %></td>
                <td class="text-center">
                    <div class="dropdown">
                        <a class="btn btn-xs btn-default" data-toggle="dropdown">
                            <i class="fa fa-cog"></i><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu text-left">
                            <li role="presentation"><%= link_to edit_espaco_path(espaco) do %>
                                    <i class="fa fa-edit"></i> Editar
                                <% end %></li>
                            <li role="presentation"><%= link_to espaco, method: :delete, data: {confirm: 'Deseja realmente remover este espaço?'} do %>
                                    <i class="fa fa-trash-o"></i> Remover
                                <% end %></li>
                        </ul>
                    </div>


                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% else %>
    <div class="alert alert-info">
        Parece que ainda não existe nenhum espaço cadastrado.
    </div>
<% end %>